:host {
  width: 100%;
  display: grid;
  justify-items: center;
  padding: var(--padding-xs) var(--padding-m);
}

.payment-container {
  width: 100%;
  min-height: 88px;
  padding: var(--padding-m);
  display: grid;
  grid-template-columns: .5fr 2.5fr 0.8fr 0.2fr;
  grid-template-areas:
    "date detail amount status"
    "x debitor debitor debitor";
  font-size: .8rem;
  align-items: center;
  position: relative;
}

.date-container {
  grid-area: date;
  align-content: center;
  height: 100%;
  border-right: 1px solid var(--color-accent-bright);
}

.detail-container {
  grid-area: detail;
  display: flex;
  flex-direction: column;
  gap: var(--padding-xs);
  padding: 0 var(--padding-xs);
}

.detail-container > span:nth-child(2) {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.amount-container {
  grid-area: amount;
}

.status-container {
  grid-area: status;
}

.status {
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--color-accent-dark);
}

.status.open {
  background-color: var(--color-status-error);
}

.status.charged {
  background-color: var(--color-status-warning);
}

.status.closed {
  background-color: var(--color-status-success);
}

.debitor-container {
  grid-area: debitor;
  display: none;
}

.debitor-container.open {
  display: block;
  height: fit-content;
  padding: var(--padding-xs);
}

li {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--padding-xs);
}

.year-separator {
  width: 100%;
  text-align: center;
  font-size: var(--font-size-xs);
  color: var(--color-status-disabled);
  border-bottom: 1px solid var(--color-status-disabled);
  padding-bottom: var(--padding-xxs);
  margin: var(--padding-xs) 0;
}

.form {
  border-bottom: 1px solid var(--color-status-disabled);
  padding-bottom: var(--padding-xl);
}

.delete-btn {
  position: absolute;
  right: 0;
  top: var(--padding-xxs);
  font-size: 18px;
  width: 18px;
  cursor: pointer;
  color: var(--color-accent-dark);
  opacity: .9;
}
