:host {
  display: grid;
  width: 100%;
  height: calc(100vh - var(--header-height));
}

form {
  height: fit-content;
  display: grid;
  justify-content: center;
  gap: var(--margin-l);
  position: relative;
  top: var(--header-height);
}

button {
  justify-self: center;
}


