<h2>{{ reservationToUpdate() ? 'Update' : 'Erstelle' }} Reservation</h2>
<form [formGroup]="form">
  <div class="day-container">
    <p>Tag: {{ selectedDay().weekdayShort }}, {{ selectedDay().day }} {{ selectedDay().monthShort }}</p>
  </div>
  <div class="time-container">
    <div class="time-input-container">
      <label>Von</label>
      <input type="time" formControlName="startDateTime">
    </div>
    <div class="time-input-container">
      <label>Bis</label>
      <input type="time" formControlName="endDateTime">
    </div>
  </div>
  @if (reservationToUpdate()) {
    <div class="hour-container">
      <mat-form-field class="startBoatHour">
        <mat-label>Motorstunden start</mat-label>
        <input matInput type="text" formControlName="startHours">
        @if (form.controls.startHours.invalid) {
          <mat-error>Nur natürliche Zahlen erlaubt</mat-error>
        }
      </mat-form-field>
      <mat-form-field class="endBoatHour">
        <mat-label>Motorstunden ende</mat-label>
        <input matInput type="text" formControlName="endHours">
        @if (form.controls.endHours.invalid) {
          <mat-error>Nur natürliche Zahlen erlaubt</mat-error>
        }
      </mat-form-field>
    </div>
  }
  <div class="button-container">
    <button [bsButton]="'submit'"
            size="sm"
            [disabled]="form.invalid"
            (click)="onSubmit()"
            class="btn-submit"
            [disabled]="submitButtonDisabled()">
      {{ reservationToUpdate() ? 'Update' : 'Reservieren' }}
    </button>
    @if (reservationToUpdate()) {
      <button [bsButton]="'cancel'"
              size="sm"
              (click)="onDelete()"
              class="btn-delete">
        Löschen
      </button>
      <button [bsButton]="'submit'"
              size="sm"
              (click)="onCancel()"
              class="btn-reset">
        Abbrechen
      </button>
    }
  </div>
</form>
